.menubar{
    height:10%;
    background-color:white;
    width: 100%;
}
p{
    margin-left:20%;
    margin-bottom: auto;
    margin-top:auto;
}
h4{
    float:right;
    margin-left:20%;
    margin-bottom: auto;
    margin-top:auto;
}