.homebase{
    display:grid;
    grid-template-columns:13% 1fr;
    grid-template-rows:60px 9fr 10%;
    height:100vh;
}

.header{
    grid-column-start: 1;
    grid-column-end:5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.side {
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start:2;
    grid-row-end:3;
}

.main{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;

}