<div class="body">
    <ngb-accordion [closeOthers]="true" activeIds="">
        <ngb-panel id="static-1" title="Simple">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span><b>Next</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Disabled" [disabled]="false">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
</div>
