<div class="gridbase">
  <div class="content">
    <ngb-carousel>
        <ng-template ngbSlide>
          <img src="https://1.bp.blogspot.com/-oYNVmaG4mcA/WSsyf0CkqWI/AAAAAAAAGN0/_zAQZxzh3s86ws82RRl4gmnpQvD1079rQCLcB/s1600/white%2Bkitchen%2B1.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="https://1.bp.blogspot.com/-1zbnA_1Cj6s/WSsyglhKcDI/AAAAAAAAGN4/wK6BhOM8jZ0QhXo7DkhB03-fCCCc8TguACLcB/s1600/before%2Bkitchen%2B1.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
      </ngb-carousel>
  </div>

</div>