.gridbase{
    display:grid;
    grid-template-columns:1fr 8fr  8fr 1fr;
    grid-template-rows:1fr 5fr 5fr 1fr;
    height:75vh;
}
.content{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 4;
}

img{
    width:100%;
    height:100%;
 
}